Daily-SOC-AI-Summary/daily_soc_summary_template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connections_office365_name": {
            "defaultValue": "office365",
            "type": "String"
        },
        "connections_securitycopilot_name": {
            "defaultValue": "securitycopilot",
            "type": "String"
        },
        "connections_azuremonitorlogs_name": {
            "defaultValue": "azuremonitorlogs",
            "type": "String"
        },
        "workflows_Daily_SOC_Summary_Demo_name": {
            "defaultValue": "Daily-SOC-Summary-Demo",
            "type": "String"
        },
        "to_address": {
            "type": "String"
        },
        "log_analytics_workspace_name":{
            "type": "String"
        },
        "log_analytics_workspace_resource_group":{
            "type": "String"
        },
        "log_analytics_workspace_subscription_id":{
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_azuremonitorlogs_name')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "law_connector",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', parameters('connections_azuremonitorlogs_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_office365_name')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "office365_connection",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', parameters('connections_office365_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_securitycopilot_name')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "sec-copilot-connector",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', parameters('connections_securitycopilot_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Daily_SOC_Summary_Demo_name')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_azuremonitorlogs_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_securitycopilot_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_office365_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "interval": 1,
                                "frequency": "Day",
                                "timeZone": "Eastern Standard Time",
                                "schedule": {
                                    "hours": [
                                        7
                                    ],
                                    "minutes": [
                                        0
                                    ]
                                }
                            },
                            "evaluatedRecurrence": {
                                "interval": 1,
                                "frequency": "Day",
                                "timeZone": "Eastern Standard Time",
                                "schedule": {
                                    "hours": [
                                        7
                                    ],
                                    "minutes": [
                                        0
                                    ]
                                }
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "IncidentDetails": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "query": "SecurityIncident \n| where LastActivityTime > ago(31h) and LastActivityTime < ago(7h) \n| where Severity != \"Informational\"\n| project Title, Description, Severity, Status, IncidentNumber, IncidentUrl, ProviderName, Classification, ClassificationComment, ClassificationReason, Comments\n| take 10\n",
                                    "timerangetype": "2",
                                    "timerange": {
                                        "relativeTimeRange": "Last 3 days"
                                    }
                                },
                                "path": "/queryDataV2",
                                "queries": {
                                    "subscriptions": "[parameters('log_analytics_workspace_subscription_id')]",
                                    "resourcegroups": "[parameters('log_analytics_workspace_resource_group')]",
                                    "resourcetype": "Log Analytics Workspace",
                                    "resourcename": "[parameters('log_analytics_workspace_name')]"
                                }
                            }
                        },
                        "ThreatIntel": {
                            "runAfter": {
                                "IncidentDetails": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "query": "ThreatIntelligenceIndicator\n| where TimeGenerated > ago(31h) and TimeGenerated  < ago(7h)\n| summarize count() by SourceSystem\n| take 100",
                                    "timerangetype": "3"
                                },
                                "path": "/queryDataV2",
                                "queries": {
                                    "subscriptions": "[parameters('log_analytics_workspace_subscription_id')]",
                                    "resourcegroups": "[parameters('log_analytics_workspace_resource_group')]",
                                    "resourcetype": "Log Analytics Workspace",
                                    "resourcename": "[parameters('log_analytics_workspace_name')]"
                                }
                            }
                        },
                        "Severity": {
                            "runAfter": {
                                "ThreatIntel": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "query": "SecurityIncident\n| where LastActivityTime > ago(31h) and LastActivityTime < ago(7h) \n| summarize count() by Severity\n| take 100",
                                    "timerangetype": "2",
                                    "timerange": {
                                        "relativeTimeRange": "Last 3 days"
                                    }
                                },
                                "path": "/queryDataV2",
                                "queries": {
                                    "subscriptions": "[parameters('log_analytics_workspace_subscription_id')]",
                                    "resourcegroups": "[parameters('log_analytics_workspace_resource_group')]",
                                    "resourcetype": "Log Analytics Workspace",
                                    "resourcename": "[parameters('log_analytics_workspace_name')]"
                                }
                            }
                        },
                        "Provider": {
                            "runAfter": {
                                "Severity": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "query": "SecurityIncident\n| where LastActivityTime > ago(31h) and LastActivityTime < ago(7h) \n| summarize count() by ProviderName",
                                    "timerangetype": "2",
                                    "timerange": {
                                        "relativeTimeRange": "Last 3 days"
                                    }
                                },
                                "path": "/queryDataV2",
                                "queries": {
                                    "subscriptions": "[parameters('log_analytics_workspace_subscription_id')]",
                                    "resourcegroups": "[parameters('log_analytics_workspace_resource_group')]",
                                    "resourcetype": "Log Analytics Workspace",
                                    "resourcename": "[parameters('log_analytics_workspace_name')]"
                                }
                            }
                        },
                        "Ask_Security_Copilot_to_Analyze_and_craft_an_Email": {
                            "runAfter": {
                                "Provider": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "PromptContent": "Please summarize the following data from the past 24 hours into a Security Operations Center Summary of activity for Director and CISO readers.  Format your response in HTML suitable for readability in an email.  Include an analysis of the trends noted within the detailed breakdown of incidents, and highlight and remediations and recommendations as the final section of the response. Within the security operations center yesterday, there were the following number of incidents identified, broken down by severity: \n@{string(body('Severity')?['value'])}\n\n\nThe overall number of incidents were generated by the following detection tools or providers:\n@{string(body('Provider')?['value'])}\n\nin the past 24 hours, the SOC ingested and analyzed the following total pieces of threat intelligence based one each source:\n@{string(body('ThreatIntel')?['value'])}\n\nThe following is a detailed breakdown of all the incidents:\n@{string(body('IncidentDetails')?['value'])}"
                                },
                                "path": "/process-prompt"
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {
                                "Ask_Security_Copilot_to_Analyze_and_craft_an_Email": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "emailbody",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Set_variable": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "emailbody",
                                "value": "@{body('Ask_Security_Copilot_to_Analyze_and_craft_an_Email')}"
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "Set_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "To": "[parameters('to_address')]",
                                    "Subject": "Daily SOC Summary",
                                    "Body": "<p class=\"editor-paragraph\">@{variables('emailbody')}</p>",
                                    "Importance": "Normal"
                                },
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuremonitorlogs": {
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuremonitorlogs')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azuremonitorlogs_name'))]",
                                "connectionName": "azuremonitorlogs",
                                "connectionProperties": {}
                            },
                            "securitycopilot": {
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'securitycopilot')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_securitycopilot_name'))]",
                                "connectionName": "securitycopilot",
                                "connectionProperties": {}
                            },
                            "office365": {
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'office365')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_office365_name'))]",
                                "connectionName": "office365",
                                "connectionProperties": {}
                            }
                        }
                    }
                }
            }
        }
    ]
}